html, body{
    margin: 0;
    padding: 0;
    min-width: 1920px;
    min-height: 1080px;
    overflow-x: hidden;
}
.paralax{
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
perspective: 2px;
min-width: 1920px;
min-height: 1080px;
}
.Content, .Content_2, .Content_3, .Content_4, .Content_5{
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1920px;
    min-height: 1080px;
}
.HEADER_site{
    width: 100%;
    height: 65px;
    background-color: #c4c7ce;
    overflow: hidden;
    min-width: 1920px;
}
.FOTTER_site{
    width: 100%;
    height: 205px;
    background-color: #c4c7ce;
    overflow: hidden;
    min-width: 1920px;
}
.I_P{
font-weight: 700;
font-size: 20px;
font-family: "Roboto", sans-serif;
color: rgb(13, 13, 92);
transform: translate(0, 60px);
}
.adress_NUM_OOO{
font-weight: 700;
font-size: 20px;
font-family: "Roboto", sans-serif;
color: rgb(13, 13, 92);
transform: translate(1700px, -25px);    
}
.Content{
    background-image: url("./images/картина1.jpg");
}
.Content_2{
    background-image: url("./images/картина2.jpg");
}
.Content_3{
    background-image: url("./images/картина3.jpg");
}
.Content_4{
    background-image: url("./images/картина4.jpg");
}
.Content_5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/картина5.jpg");
}
.NAV_site{
font-weight: 700;
font-size: 22px;
font-family: "Roboto", sans-serif;
color: rgb(13, 13, 92);
transform: translate(128px, -18px);
}
.LOGO{
    width: 35px;
    height: 35px;
    transform: translate(80px, 15px);
}
.Text{
    margin: 0;
    padding: 70px 0 0 70px;
    font-weight: 300;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: white;
}
.Text_2{
    margin: 0;
    padding: 150px 0 0 95px;
    font-weight: 300;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: white;
}
.Describe{
    margin: 0;
    padding: 100px 0 0 100px;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: white;
}
.Describe_2{
    position: absolute;
    margin: 0;
    padding: 140px 0 0 420px;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.8;
}
.Describe_3{
    position: absolute;
    margin: 0;
    padding: 187px 0 0 420px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.25;
}
.Describe_4{
    position: absolute;
    margin: 0;
    padding: 460px 0 0 1215px;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.8;
}
.Describe_5{
    position: absolute;
    margin: 0;
    padding: 527px 0 0 1215px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.25;
}
.Describe_6{
    position: absolute;
    margin: 0;
    padding: 260px 0 0 420px;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.8;
}
.Describe_7{
    position: absolute;
    margin: 0;
    padding: 327px 0 0 420px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.25;
}
.Describe_8{
    position: absolute;
    margin: 0;
    padding: 565px 0 0 1215px;
    font-weight: 300;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.8;
}
.Describe_9{
    position: absolute;
    margin: 0;
    padding: 615px 0 0 1215px;
    font-weight: 300;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: black;
    line-height: 1.25;
}
.Black{
   position: absolute;
   left: 100px;
   top: 250px;
   width: 45%;
   height: 28%;
}
.RED{
   position: absolute;
   left: 900px;
   top: 550px;
   width: 45%;
   height: 28%;
}
.YELLOW{
   position: absolute;
   left: 100px;
   top: 190px;
   width: 45%;
   height: 27%;
}
.PINK{
   position: absolute;
   left: 900px;
   top: 490px;
   width: 100%;
   height: 74%;
}
.Text_3{
    margin: 0;
    padding: 40px 0 0 100px;
    font-weight: 300;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    font-style: normal;
    background: transparent;
    color: white;
}
.FORM{
display: flex;
flex-direction: column;
margin-top: -80px;
background:#022874;
border-radius: 15px;
width: 575px;
height: 500px;
transform: translate(-50px, 70px);
}
.Describe_10{
transform: translate(0, 30px);
margin: 0;
padding: 15px 0 25px 0;
font-weight: 700;
font-size: 35px;
font-family: "Roboto", sans-serif;
background: transparent;
color: white;
text-align: center;
}
.FORM label{
    position: relative;
    padding:0; 
    color: white;
    font-family: "Roboto", sans-serif;
    display: block;
    width: 450px;
    padding: 10px, 10px, 15px, 10px;
    margin-bottom: 10px;
}
.FORM label input{
    width: 300px;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.Name{
    transform: translate(70px, 20px);
    padding: 0 0 8px 0;
}
.Username{
   transform: translate(138px, 40px);
   padding: 0 0 8px 0;
}
.Number_Phone{
    transform: translate(138px, 40px);
    padding: 0 0 13px 0;
}
.btn{
    transform: translate(138px, 65px);
    width: 305px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-color: #b2b5bb;
    color: #000000;
}
.Be{
   transform: translate(69px, 19px); 
}

